body {
    margin: 0px;
    padding: 0px;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    height: 3.75rem;
    background: seagreen;
    width: 100%;
}

#navlist {
    display: flex;
    justify-content: space-around;
    width: 300px;
}
nav ul li {
    list-style: none;
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    Color: #f0f0f0;
}
#navlist a:hover{
    background: orange;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    background-color: yellow;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
}