
:root {
    --red: #e3350d;
    --orange: #ee6b2f;
    --yellow: #fecd01;
    --d-yellow:#98863e;
    --green: #4dad5b;
    --l-blue: #30a7d6;
    --blue: #003d96;
    --purple: #aa5ca2;
    --grey: #606060;
    --l-grey: #f5f5f5;
  }

  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

p h1{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--red);
  padding: 2rem;
}

#nav{
  padding-left: 2rem;
  background-color: var(--grey);
}

.header-pic {
  max-width: 100%;
  height: 300px;
  object-fit: contain;
}
#nav{
  padding-left: 2rem;
  background-color: var(--grey);
}

nav button {
  background-color: var(--grey);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: .8rem;
  margin: 2rem 1rem 2rem 0;
  width: 9rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  box-shadow: 10px 10px 30px black;
  transition: transform .2s;
}

nav button:hover {
  transform: scale(1.1); 
}

#poison:hover {
  background-color: var(--purple);
}
#grass:hover {
  background-color: var(--green);
}
#fire:hover {
  background-color: var(--orange);
}
#water:hover {
  background-color: var(--l-blue);
}
#electric:hover{
  background-color: var(--d-yellow);
}
#all:hover {
  background-color: var(--red);
}

main {
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 0 auto;
    padding-right: 2rem;
    padding: 2rem;
    
}

h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: .8rem;
    display: flex;
    flex-direction: column;

}

.charDiv {
    margin: 0;
    padding: 0;
}

.front {
    margin: 0;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics {
    width: 100%;
    height: auto; 
    background-color: var(--grey);
    box-shadow: 10px 10px 50px;
    padding: 1rem;
    border-radius: 1rem;
    transition: transform .2s; /* Animation */
}

.pics:hover {
  transform: scale(1.1); 
}

.scene {
    width: 225px;
    height: 260px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    perspective: 600px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .front {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grey);
    border-radius: 10px;
  }

  .front-info {
     padding: 1rem 2rem 1rem 2rem;
  }

  .back-info{
      padding: 1rem;
      font-size: 1rem;
      font-family: 'Press Start 2P', cursive;
      color: white;
  }
  
  .back {
    background: var(--grey);
    transform: rotateY(180deg);
    border-radius: 10px;
  }
  
  #newPokemon {
    background-color: var(--grey);
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin: 3rem 2rem;
    width: 500px;
    height: 100px;
    border-radius: 10px;
  }

  #totalHP {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    background-color: var(--blue);
    color: white;
    padding: 2rem;
    text-align: center;
    margin: 0;
  }
  
